body {
    margin: 0;
    font-family: "Playfair Display", serif;
}

nav {
    background-color: rgb(80, 38, 101);
    padding: 25px;
    text-align: left;
}

/* .nav-bar-container {
    /* display: flex; */
    /* align-items: center; */

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

@media only screen and (max-width: 768px) {
    .nav-bar-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .nav-menu {
        display: none;
        text-align: center;
    }

    .nav-menu.show {
        display: flex;
        flex-direction: column;position: static;
    }

    .hamburger {
        display: block;
    }
}

